<hr />


<div class="container-fluid">
    <div class="col-md-12">
        <h2 class="text-center">Rejestracja przebiegła pomyślnie.</h2>
        <p class="text-center"> <b>Możesz sie zalogować do serwisu.</b> </p>
    </div>
</div>