<li class="nav-item dropdown">
    <a asp-controller="Product"
       asp-action="Index"
       class="nav-link dropdown-toggle" data-toggle="dropdown">Meble<b class="caret"></b></a>
    <ul class="dropdown-menu dropdown-menu-dark">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Product" asp-action="List"
                   asp-route-category="@category.Name" class="dropdown-item" >@category.Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-category="" >Wszystkie Meble</a>
        </li>
    </ul>
</li>


           