@model ProductListViewModel
    <hr />

<div>
    <h2 align="center">@Model.CurrentCategory</h2>
</div>
    <hr />

<div class="row">
@{
    foreach (var product in Model.Products)
    {
        @await Html.PartialAsync("ProductSummary", product)
    }
} 

</div>