@model HomeViewModel
<hr />

<h2 align="center">Polecane Meble</h2>
<hr />

@await Html.PartialAsync("Carousel")

<hr />
<h4 align="center">Wysoka jakość i przystępna cena</h4>
<hr />


<div class="row">
    @foreach (var mebel in Model.PrefferedProducts)
    {
        @await Html.PartialAsync("ProductSummary", mebel)
    }

</div>